@import "tailwindcss";
@keyframes cursorRipple {
  0% {
    transform: scale(0.3);
    opacity: 1;
    background-color: rgb(220 38 38); /* red-600 */
  }
  50% {
    transform: scale(1);
    opacity: 0.6;
    background-color: rgb(248 113 113); /* red-400 */
  }
  100% {
    transform: scale(2);
    opacity: 0;
    background-color: rgb(254 202 202); /* red-200 */
  }
}

.cursor-ripple {
  animation: cursorRipple 700ms ease-out forwards;
}
